/**
  Hebi.im - Coming Soon Page_CSS (coming-soon.css)

  Created by: Minsu Kim <minsu.kim@lunaiz.com> on 2025-02-11
  Updated by: Minsu Kim <minsu.kim@lunaiz.com> on 2025-02-11
 */

/* Navbar */
@import url("common/header.css");
@import url("common/main.css");

/* Main Section - Coming Soon Banner */
main section#hero {
  width: 100%; height: 100%;
}

main section#hero img.mask_banner {
  width: 100%; height: 100%;
  object-fit: cover;

  filter: brightness(0.6);
  animation: blur 1.5s;

  -webkit-user-drag: none;
}

@keyframes blur {
  0% {
      filter: blur(40px) brightness(0.6)
  }

  to {
      filter: blur(0) brightness(0.6)
  }
}

/* Banner Text for Promotion */
main section#hero a div {
  position: absolute;
  bottom: 0; right: 0;

  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

main section#hero a div.active {
  opacity: 1 !important;
}

main section#hero a h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "DM Serif Display", "Nanum Myeongjo", "Noto Serif JP", serif;

  color: #fff;
  word-break: keep-all;
}

main section#hero a p {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  font-size: 1rem;
  font-weight: 400;
  font-family: "Plus Jakarta Sans","Pretendard Variable", "Pretendard JP Variable", sans-serif;

  color: #fff;
  word-break: keep-all;
}

main section#hero a img {
  width: 20px; height: 20px;
}
