@font-face {
    font-family: 'Nympha Trial';
    font-weight: 300;
    src: url('woff2/NymphaTrial-Light.woff2') format('woff2'),
         url('woff/NymphaTrial-Light.woff') format('woff');
}

@font-face {
    font-family: 'Nympha Trial';
    font-weight: 300;
    font-style: italic;
    src: url('woff2/NymphaTrial-LightItalic.woff2') format('woff2'),
         url('woff/NymphaTrial-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Nympha Trial';
    font-weight: 400;
    src: url('woff2/NymphaTrial-Regular.woff2') format('woff2'),
         url('woff/NymphaTrial-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Nympha Trial';
    font-weight: 400;
    font-style: italic;
    src: url('woff2/NymphaTrial-Italic.woff2') format('woff2'),
         url('woff/NymphaTrial-Italic.woff') format('woff');
}
